@model EventEase_01.Models.Event
@* @model List<Event> *@
 @{
    ViewData["Title"] = "AdminDashboard";
}
<h1>Admin Dashboard</h1>
@if (TempData["EventAddedMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["EventAddedMessage"]
    </div>
}
<html>
<head>
    <style>
        .SearchBar {
            position: absolute;
            top: 10%;
            right: 10%;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-4">

        <form asp-controller="Event" asp-action="AdminAddEvents" method="get">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add A New Event</button>
            </div>
        </form>

    </div>
</div>
    <h1>Upcoming Events </h1>
    @{
        ViewBag.Title = "Events";
    }
    <div class=" SearchBar ">
        <div class="btn-group">
            <button asp-for="result" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Search Events By Category
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Event/Sports">Sports </a></li>
                <li><a class="dropdown-item" href="/Event/Dance">Dance</a></li>
                <li><a class="dropdown-item" href="/Event/Celebration">Celebration</a></li>
                <li><a class="dropdown-item" href="/Event/Music">Music</a></li>
                <li><a class="dropdown-item" href="/Event/Meditation">Meditation</a></li>
            </ul>
        </div>
    </div>
    <h2>Events</h2>
    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Description</th>
                <th>Date</th>

            </tr>
        </thead>
        @{
            var events = ViewData["Events"] as List<Event>;

        }
        <tbody>
            @if (events != null){
               
            @foreach (var item in events)
            {
                <tr>
                    <td>@item.EventName</td>
                    <td>@item.EventDescription</td>
                    <td>@item.EventDate</td>
                </tr>
                }
            }
            else
            {
                <p>No Events Found </p>
            }
        </tbody>
    </table>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
