@model EventEase_01.Models.Event

@{
    ViewData["Title"] = "AdminDashboard";
}
<h1>Admin Dashboard</h1>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Event" asp-action="AdminDashboard" method="get">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add A New Event</button>
            </div>
        </form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
